<div class="data-entry-block">
    <h6>{{weekday}}</h6>
    <div class="data-entry-group">
        <label for="AMSellingPrice{{@index}}">AM</label>
        <input type="number" id="AMSellingPrice{{@index}}" placeholder="..." name="sellingPrices" value="{{amPrice}}"/>
    </div>
    <div class="data-entry-group">
        <label for="PMSellingPrice{{@index}}">PM</label>
        <input type="number" id="PMSellingPrice{{@index}}" placeholder="..." name="sellingPrices" value="{{pmPrice}}"/>
    </div>
</div>