
<div align="center" style="font-weight: bold;margin: 5px;">
    <a href="/user/{{user.id}}">Permalink to your profile</a>
</div>
<div class="usercp">
    <div class="usercp-userinfo">
        <div class="usercp-userinfo-column">
            <div class="usercp-userinfo-row">
                {{#if user.avatar}}
                <img src="/avatars/{{user.avatar}}">
                {{/if}}
            </div>
            <div class="usercp-userinfo-row">
                <form action="/usercp/uploadAvatar" method="POST" enctype="multipart/form-data">
                    <div>
                        <input type="file" accept="image/jpeg" name="avatar" >
                    </div>
                    <div>
                        <input type="submit" value="upload">
                    </div>
                </form>
            </div>
        </div>
        <div class="usercp-userinfo-column">
            <form id="userInfo" method="POST" action="">
                <h4>{{user.userName}}</h4>

                <div class="usercp-userinfo-row">
                    <label>Timezone</label>
                    <select id="timezoneList">
                        {{#each timezones}}
                            <option value="{{timezone}}" {{selected}}>UTC {{timezone}}</option>
                        {{/each}}
                    </select>
                </div>

                <div class="usercp-userinfo-row">
                    <label>Twitter:</label>
                    <div>
                        <label>@</label>
                        <input type="text" value="{{user.twitterHandle}}" id="twitterHandle" size="15" maxlength="15">
                    </div>
                </div>

                <div class="usercp-userinfo-row">
                    <label>Discord: </label>
                    <input type="text" value="{{user.discordTag}}" id="discordTag">
                </div>
            </form>
        </div>
    </div>
    <div class="usercp-ingame">
        <div class="usercp-ingame-column">
            <form id="ingameInfo" action="" method="POST">
                <div class="usercp-ingame-row">
                    <label>Ingame Name</label>
                    <input type="text" value="{{user.ingameName}}" id="ingameName" size="10" maxlength="10">
                </div>
                <div class="usercp-ingame-row">
                    <label>Ingame Title</label>
                    <input type="text" value="{{user.title}}" id="ingameTitle" >
                </div>
                <div class="usercp-ingame-row">
                    <label>Island Name</label>
                    <input type="text" value="{{user.islandName}}" id="islandName" size="10" maxlength="10">
                </div>
                <div class="usercp-ingame-row">
                    <label>Friendcode</label>
                    <div>
                        <label>SW-</label>
                        <input type="text" value="{{user.friendcode}}" id="friendcode" size="14" maxlength="14">
                    </div>
                </div>
            </form>
        </div>
        <div class="usercp-ingame-column">
            <div class="usercp-ingame-row">
                {{#if user.map}}
                    <img src="/maps/{{user.map}}">
                {{/if}}
            </div>
            <div class="usercp-ingame-row">
                <form action="/usercp/uploadMap" method="POST" enctype="multipart/form-data">
                    <div>
                        <input type="file" accept="image/jpeg" name="map" >
                    </div>
                    <div>
                        <input type="submit" value="upload">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function()
    {
        $(document).on('change', '#userInfo', function()
        {
            var userInfo = {};
            userInfo.timezone = $('#timezoneList').val();
            userInfo.twitterHandle = $('#twitterHandle').val();
            userInfo.discordTag = $('#discordTag').val();
            $.post("/usercp/userinfo", userInfo);
            return false;
        });
    });
</script>

<script type="text/javascript">
    $(document).ready(function()
    {
        $(document).on('change', '#ingameInfo', function()
        {
            var islandInfo = {};
            islandInfo.ingameName = $('#ingameName').val();
            islandInfo.ingameTitle = $('#ingameTitle').val();
            islandInfo.islandName = $('#islandName').val();
            islandInfo.friendcode = $('#friendcode').val();
            $.post("/usercp/islandinfo", islandInfo);
            return false;
        });
    });
</script>

<div class="usercp-center">
    <form id="weekSelectorForm" method="GET" action="/usercp">
        <input type="week" id="weekSelector" name="week" value="{{defaultWeek}}" onchange="this.form.submit()"/>
        <input type="button" onclick="resetDate()"value="Today"/>
    </form>

    <form id="priceInputForm" method="POST" action="">
    <!--<form id="priceInputForm" method="POST" action="/usercp">-->
        <div class="form-row">
            <h6>Sunday</h6>
            <div class="data-entry-group">
                <label for="sunBuyingPrice">What was the price of turnips this week on your island?</label>
                <input type="number" id="sunBuyingPrice" placeholder="..." name="buyingPrice" value="{{userInfo.buyingPrice}}" />
                <!--<input type="number" id="monAMSellingPrice" placeholder="..." name="buyingPrice" {{#if userInfo.buyingPrice}}value={{userInfo.buyingPrice}}{{/if}} onchange="this.form.submit()"/>-->
            </div>
        </div>
        <div class="form-flex-wrap">
            {{#each week}}
            {{> data-entry}}
            {{/each}}
        </div>
    </form>
</div>

<script>
    function resetDate()
    {
        const element = document.getElementById("weekSelector");
        element.value = "{{thisWeek}}";
        element.form.submit();
    }
</script>

<script type="text/javascript">
    const getSellFields = function()
    {
        let fields = [];
        for(var i = 0; i < 6; i++)
        {
            fields.push($('#AMSellingPrice' + i)[0]);
            fields.push($('#PMSellingPrice' + i)[0]);
        }
        return fields;
    }

    $(document).ready(function()
    {
        $(document).on('change', '#priceInputForm', function()
        {
            var week = {};
            week.firstTimeBuy = false;
            week.buyingPrice = $('#sunBuyingPrice').val();
            week.buyingAmount = "";
            week.sellingPrices = getSellFields().map(function(input)
            {
                return parseInt(input.value || '');
            });
            week.previousPattern = "";
            week.patterns = [];
            $.post("/usercp/turnip", week);
            return false;
        });
    });
</script>